.navbar-inverse .navbar-nav>li>a {
	color: #ffffff;
	font-family: "Whitney SSm A", "Whitney SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#my-navbar {
	background-color: #212121;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
.jumbotron {
	background-color: #212121;
}
body {
	background-color: #3E464C;
}
.table {
	background-color: white;
	width: 90%;
	box-shadow: 5px 5px 5px 5px #888888;
	margin: auto;
	margin-bottom: 50px;
}
#title {
	font-size: 24px;
	font-weight: bold;
}
#Rating{
	font-weight: bold;
}
#genres {
	color: #666;
}
#summary {
	color: #4D4D4D;
	font-size: 18px;
}
#more {
	font-weight: bold;
	font-size: 12px;
	color: #666;
}